footer {
    margin-top: 100px;
    background-color: #1D90E8;
    position:absolute; bottom:0px;
    width: 100%;
}

footer ul li a{
    color: #ffffff;
    margin-right: 20px;
}

.copyright {
    color: #ffffff;
}