body {
  margin: 0;
  font-family:'Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
}

a{
  text-decoration: none;
}

/** padding navbar */
.paddingNavbar {
  padding-top: 120px;
}

@media screen and (max-width: 991px) {
  .paddingNavbar {
      padding-top: 20px;
  }
}

/***** colors ****/

.color-lightgrey {
  color: #707070;
}

.color-blue {
  color: #34668D;
}

.color-lightblue {
  color: #1D90E8;
}